{% extends 'shared/_layout.html' %}

{% block page_title %}Products{% endblock %}

{% block page_content %}
<h1>Welcome My Market Product List...</h1>
{% if products %}
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for p in products %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ p.thumbnail }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ p.title }}</h5>
                <small class="card-text text-muted text-uppercase">{{ p.category }} / {{ p.brand }}</small>
                <hr />
                <p class="card-text">
                    <span class="h5 text-muted text-decoration-line-through">${{ p.price|floatformat:2 }}</span>
                    <span class="h5 text-danger">${{ p.discountedPrice|floatformat:2 }}</span>
                </p>
            </div>
            <div class="card-footer">
                <span class="h6">Tags:</span>
                {% for t in p.tags %}
                <small class="badge text-bg-secondary">{{ t }}</small>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif%}
{% endblock %}